.catalog-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
  }

  .pet-card-details {
    background-color: #ffffff;
    border: 2px solid #e7d619;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px;
    width: 450px;
    overflow: hidden;
}

.pet-card-details img {
    width: 100%;
    height: 265px;
    display: block;
    border-bottom: 2px solid #ffd700;
    margin: 0 auto;
}

.pet-info-details {
    padding: 15px;
}

.pet-info-details p {
    margin: 10px 0;
}
.pet-info-details h2, .pet-info-details p {
    margin: 10px 0;
}

span.make-yellow {
    color: #e7d619;
    font-weight: bold;
}

.owner-btn {
    margin-left: 143px;
    font-size: large;
    text-decoration: underline;
}
.no-owner{
    color: #007bff;
    text-align: center;
  }

.submit {
    border-radius: 50px;
}

.edit-delete{
    display: inline-block;
      padding: 10px 57px;
      background-color: #e7d619;
      color: #ffffff;
      -webkit-transition: all 0.3s;
      transition: all 0.3s;
      border: 1px solid #e7d619;
      border-radius: 50px;
      color: #fff;
      margin-bottom: 30px;
      margin-left: 43px;
      margin-top: 15px;
  }
  .edit-delete:hover{
    background-color: white;
    color: #e7d619;
  }
  .likes{
    color: #e7d619;
    text-align: center;
    margin-top: 10px;
  }
  .like{
    display: block;
    margin-left: 163px;
    padding: 6px 45px;
    margin-bottom: 10px;
    border: 1px solid #e7d619;
    border-radius: 50px;
    color: white;
    background: #e7d619;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .like:hover{
    background-color: white;
    color: #e7d619;
  }
  .like.disabled {
    background-color: #dee2e6;
    color: #adb5bd;
    cursor: not-allowed;
    border: none;
  }