.owner-card-details {
    background-color: #ffffff;
    border: 2px solid #e7d619;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px;
    width: 500px;
    display: flex;
  }
  .owner-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
    padding-bottom: 150px;
  }
  .owner-photo {
    width: 168px; 
    height: 120px; 
    margin-right: 20px; 
  }
  
  .owner-photo img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    border: 1px solid #ffd700;
  }
  
  .owner-info-details {
    flex: 1; 
    padding: 15px;
  }
  
  .owner-info-details h2,
  .owner-info-details p {
    margin: 10px 0;
  }
  .heading{
    margin-top: 39px;
    text-align: center;
    color: #e7d619;
    font-weight: bold;
    text-decoration: underline;
}
.owner-make-yellow {
  color: #e7d619;
  font-weight: bold;
}
.edit{
  padding: 10px 40px;
  color: white;
  background-color: #e7d619;
  border-radius: 50px;
  border: 1px solid #e7d619;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
}
.edit:hover {
  background-color: white;
  color: #e7d619;
  border: 1px solid #e7d619;
}

.delete{
  padding: 8px 40px;
  color: white;
  background-color: red;
  border-radius: 50px;
  border: 1px solid red;
  margin-left: 10px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
}
.delete:hover{
  background-color: white;
  color: red;
  border: 1px solid red;
}

 @media (max-width: 550px){
 .owner-details{
  display: block;
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 5px;
  }
   .owner-card-details{
    width: auto;
    display: block;
  }
  .owner-photo{
    width: 100%;
    height: 200px;
  }
  .owner-photo img{
    width: 100%;
    height: 200px;
    object-fit: contain;
  } 
} 